
*{
    padding: 0;
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

main {
    background-color: hsl(221, 100%, 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}
.main-card {
    display: flex;
    max-width: 60%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    max-width: 55vh;
}
.left-card{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.right-card{
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.result{
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.circle{
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    min-width: 15vh;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.score{
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    font-weight: 650;
}
.outaten{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    margin-top: -5px;
    opacity: 0.5;
}
.great {
    font-size: 25px;
    font-weight: 650;
    color: hsl(0, 0%, 100%);
    margin-bottom: -10px;
}
.text {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    padding: 20px;
    margin-bottom: 15px
}
.summary {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px;
    border-radius: 8px;
}
.box .left{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}
.box1{
    background-color: hsl(0, 100%, 67%, 0.10);
    font-size: 14px;
}
.box1 .left{
    color: hsl(0, 100%, 67%);
}
.box2{
    background-color: hsl(39, 100%, 56%, 0.10);
    font-size: 14px;
}
.box2 .left{
    color: hsl(39, 100%, 56%);
}
.box3{
    background-color: hsl(166, 100%, 37%, 0.10);
    font-size: 14px;
}
.box3 .left{
    color: hsl(166, 100%, 37%);
}
.box4{
    background-color: hsl(234, 85%, 45%, 0.10);
    font-size: 14px;
    margin-bottom: 27px;
}
.box4 .left{
    color: hsl(234, 85%, 45%);
}
.button{
    background-color: hsl(224, 30%, 27%);
    width: 90%;
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 20px;  
}
.button:hover{
    background-color: hsl(224, 30%, 27%,0.8);
    box-shadow: 0 5px 12px hsl(224, 30%, 27%,0.8);
}
button:active{
    transform: scale(0.95);
}
.right-card button {
    display: block;
    margin: 5px auto 0;
}